/*Fonte pixelada*/
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Black+Ops+One&family=DM+Serif+Display&family=Dela+Gothic+One&family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Martian+Mono:wght@200;400;600&family=Pacifico&family=Pixelify+Sans:wght@400..700&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&family=Young+Serif&display=swap');
/*Zerando a página*/
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
}
/*Estilização da página principal*/
.pg-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 80px;
    background-image: url("image/fundo-principal.jpg");
    height: 95vh;
}

div h1 {
    font-size: 3rem;
}

div img {
    width: auto;
    height: 420px;
    margin: 30px;
    border-radius: 20px;
}

div p {
    width: 50%;
    margin: auto;
    text-align: justify;
}

main i {
    padding-right: 10px;
}

/*Decorando o botão Start*/
main #start {
    text-decoration: none;
    background-color: #fdc00f;
    padding: 10px;
    width: 10%;
    font-size: 1.2rem;
    margin-top: 20px;
    border-radius: 8px;
    border: 3px solid #886c34;
}

main #start:hover {
    cursor: pointer;
    background-color: #d8a714;
}

/*Parte escolha personagens*/
.pg-personagem {
    text-align: center;
    padding: 80px;
    background-image: url("image/fundo-principal.jpg");
    height: 78vh;
}

.pg-personagem h1 {
    margin-bottom: 10px;
}

.escolha-personagem {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
    justify-content: center;
}

.categoria-personagem {
    margin-top: 20px;
}

.escolha-personagem img {
    width: auto;
    height: 260px;
}

.escolha-personagem p {
    text-align: center;
    margin-bottom: 10px;
}

.text-info-personagem {
    margin-top: -10px;
}

.escolha-personagem a {
    display: block;
    text-decoration: none;
    margin: 10px auto;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fdc00f;
    font-size: 1.2rem;
    border: 3px solid #886c34;
}

/*Cada personagem individual*/
.arc {
    background-color: green;
    border: 3px solid white;
    border-radius: 10px;
}

.bruxa {
    background-color: purple;
    border: 3px solid white;
    border-radius: 10px;
}

.pirata {
    background-color: brown;
    border: 3px solid white;
    border-radius: 10px;
}

/*Parte do jogo*/
.pg-jogo {
    text-align: center;
    padding: 80px;
    background-image: url("image/Fundo-Praca.jpg");
    height: 78vh;
}

.principal {
    display: flex;
    flex-direction: row;
}

.principal img {
    margin-top: 70px;
    width: 350px;
    height: 360px;
    border: 2px solid white;
}

.principal button {
    margin-top: 50px;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fdc00f;
    font-size: 1.2rem;
    border: 3px solid #886c34;
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 768px) {
    /*Tela inicial*/

    .pg-principal {
        height: 95.1vh;
    }

    div h1 {
        padding-bottom: 20px;
    }

    div img {
        height: 250px;
    }

    div p {
        width: 100%;
        font-size: 0.9rem;
        margin-top: 10px;
    }

    main #start {
        margin-top: 50px;
        width: 40%;
    }

    /*Escolha seu personagem*/
    .pg-personagem {
        height: 100%;
        padding: 30px;
    }

    .pg-personagem h1 {
        text-align: center;
        font-size: 2rem;
        margin-top: 50px;
        margin-bottom: -10px;
    }

    .escolha-personagem {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .text-info-personagem {
        margin-top: -30px;
    }

    .escolha-personagem  img {
        height: 180px;
    }

    .escolha-personagem a {
        width: 50%;
    }

    .arc, .bruxa, .pirata {
        padding: 0 10px;
    }

    /*Começando o jogo*/
    .pg-jogo {
        height: 100%;
        padding: 20px;
    }

    .pg-jogo h1 {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .principal {
        flex-direction: column;
    }

    .principal img {
        height: 230px;
        width: 230px;
        margin: 30px auto;
    }

    .principal button {
        margin-top: 2px;
    }

}














/*Testes*/
.info-player {
    display: none;
}

.estrutura {
    background-image: url("image/fundo-principal.jpg");
    background-size: cover;
}

.cabecalho-jogo {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.cabecalho-jogo i {
    margin-right: 10px;
}

.btn-vh {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-vh:hover {
    cursor: pointer;
}

#btn-voltar {
    width: 100%;
    background-color: #fdc00f;
    border-radius: 10px;
    font-size: 1.2rem;
    height: 40px;
    padding: 5px;
    margin-right: 20px;
}

.info-jogador {
    display: flex;
    flex-direction: row;
}

.info-jogador p{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}

.stts-monstro {
    display: none;
    flex-direction: row;
    gap: 100px;
}

#info-titulo {
    text-align: center;
    margin: 50px;
}

.opcoes-escolha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 40px;
}

.opcoes-escolha h2 {
    margin-top: 20px;
}

.opcoes-escolha img {
    height: 260px;
    width: 250px;
    border: 2px solid white;
}

.info-persona p {
    text-align: center;
}

.info-persona {
    display: none;
}

.opcoes-escolha button {
    margin-top: 20px;
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fdc00f;
    font-size: 1.2rem;
    border: 3px solid #886c34;
}

.opcoes-escolha button:hover, #btn-voltar:hover {
    cursor: pointer;
    background-color: #d3a10c;
}




/*Coisa que faltam/ideias
    - Altura da página
    - Estilização
    - Efeito/Animações
    - Ver como usar o JS
    - Tem como fazer botão pixelado?
*/